<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kennedy.springdemo.mapper.menu.MenuMapper">
	<select id="add" parameterType="com.kennedy.springdemo.beans.menu.Menu">
		INSERT INTO menu(parent_id,level,text) VALUES(#{parentId},#{level},#{text})
	</select>
</mapper>